<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="/home.css">
</head>

<body>

    <div class="container">
        <div class="container1">
            <div class="addnote">
                <p>+</p>
            </div>
        </div>
        <div class="container2">
            <div class="navbar">
                <h1>Notes</h1>
                <p>🔍 Search</p>
            </div>
            <div class="notesgrid">
                <textarea name="" id="" cols="30" rows="10" class="note"></textarea>
                <div class="note"></div>
                <div class="note"></div>
                <div class="note"></div>
                <div class="note"></div>
                <div class="note"></div>
            </div>
        </div>
    </div>
</body>

</html>